header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header h2 {
    font-size: 24px;
}

/* Estilos para la sección principal */
.section {
    padding: 20px;
}

.section label {
    display: block;
    margin-bottom: 5px;
}

.section input,
.section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilos para la barra lateral */
aside {
    padding: 20px;
    background-color: #f9f9f9;
}

aside hr {
    margin-top: 0;
    margin-bottom: 10px;
}

aside label {
    display: block;
    margin-bottom: 5px;
}

aside input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

aside center {
    margin-top: 10px;
}

aside footer {
    text-align: center;
}

aside footer h3 {
    font-size: 14px;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}

button#btnCalcular {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button#btnLimpiar {
    background-color: #f44336;
    color: white;
    border: none;
}