body {

    color: Black; 
}

img {
    margin-top: 5%;
    width: 150px;
    height: 150px;
}

.letra label {
    color: green;
    font-size: 20px;
}

button{
    font-size: 16px;
    color: rgb (245, 209, 234);
    background-color: rgb(245, 209, 234);
    
}

footer {
    background-color: green;
    font-size: 15px;
}